@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,700;1,900&family=Roboto+Serif:opsz,wght@8..144,200;8..144,300&family=Space+Mono&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 5px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    min-width: 200px;
    height: 50px;
    text-transform: uppercase;
    padding: 0px 15px;
    color:antiquewhite;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #F5BE15;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
}

.btn:hover {
    background-color: #FF6343;
}


/* header start */

.header {
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
} 

.header__wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
}

.header__block {
    width: 20%;
}


.nav {
    display: flex;
}

.nav__link {
    color:#3D251C;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 35px;
    position: relative;
}

.nav__link::after {
    width: 100%;
    height: 2px;
    background-color:#3D251C;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opasity .2s ease;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover::after {
    opacity: .25;
}

.nav__link.active::after {
    opacity: .25;
}

.header__lng {
    display: flex;
    justify-content: flex-end;
}

.header__lng-link {
    color: #5e4136;
    text-decoration: none;
    margin-right: 8px;
    transition: color .2s ease;
}

.header__lng-link:last-child {
    margin-right: 0;
}

.header__lng-link:hover {
    color: #eeb6a0;
}

.header__lng-link.active {
    color: hsl(16, 27%, 29%);
    font-weight: bold;
}

/* header end */


/* intro start */

.intro {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: relative; */
}

.intro__content {
    height: 750px;
    display: flex;
    align-items: center;
    
}

.intro__block {

}

.intro__title {
    max-width: 790px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    color:#f1d47c ;
    text-shadow: 5px 9px 24px #040301;
    line-height: 1.5;
}

/* intro end */


.section {
    margin-bottom: 100px;
}


/* info start */

.info {

}

.info__item {
    /* background-color: #f5be15db; */
    background-color: #ffc00075;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 40px; 
}

.info__img {
    margin-bottom: 20px;
    
} 

.info__title {
    font-size: 18px;
    margin-bottom: 15px;
    color: #3D251C;
    text-transform: uppercase;
}

.info__text {
    font-size: 18px;
    color: #3D251C;
}

/* info And */


/* block start */

.block__title {
    font-size: 30px;
    margin-bottom: 15px;
    color: #3D251C;
    text-transform: uppercase;
}

.block__link {
    color: #5e4136;
    margin-bottom: 0px;
    display: inline-block;
    text-transform: uppercase;
}

.block__link:hover {
    text-decoration: none;
}

.wrapper {
    display: flex;
    margin: 70px 0 70px 0;
}

.block {
    width: 33.33%;
    padding: 0 10px;
}
/* block end */


/* collection start */

.collection__item {
    text-decoration: none;
}

.collection__item:hover .collection__content-item {
  opacity: 1;   
}

.collection__item:hover .collection__content::after {
    opacity: 0.7;
}

.collection__content {
    height: 500px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.collection__content::after {
    width: 100%;
    height: 100%;
    background-color: #5e4136;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transition: opasity .2s ease;
}

.collection__content-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opasity .2s ease;
}

.collection__img {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    background-color: #eeb6a0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection__title {
    font-size: 20px;
    font-weight: 600;
    color: #3D251C;
}

.collection__text {
    max-width: 270px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color:white;
    position: absolute;
    bottom: 20px;
    left: 30px;
    
}

/* collection end */


/* about start */

.about {
    padding: 115px 0;
    background-color: #ffe28a;
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__block {
    max-width: 505px;
}

.about__text {
    font-weight: 500;
    margin: 35px 0 40px;
}

.about__link {
    color: #5e4136;
    text-transform: uppercase;
    font-size: 18;
    font-weight: 500;
}

.about__link:hover {
    text-decoration: none;

}

.about__img {
    height: 340px;
}

/* about end */


/* process start */

.down {
    height: 300px;    
}

.process_title {
    font-size: 148px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3D251C;
    text-align: center;

}

.process_subtitle {
    font-size: 40px;
    font-weight: 600;
    color:#3D251C;
    text-align: center;
}
/* process end */


/* contacts start */

.contacts {
    padding: 100px 0;
    background-color:#3d251cdb;
    }

.contacts .block__title {
    margin-bottom: 40px;
}

.text-color {
    color: white;
}

.contacts__form {
    max-width: 440px;
}

.form__row {
    display: flex;
    margin: 0 -20px;
}

.form__group {
    flex: 1;
    padding: 0 20px;
    position: relative;
    margin-bottom: 30px;
    }

.input {
    width: 100%;
    padding: 7px 0;
    color: white;
    font-size: 15px;
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.input:focus + .label {
    transform: translateY(-15px);
    font-size: 12px;
}

.input:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}

.label {
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
    transition: all .2s ease ;
}

.textarea {
    min-height: 130px;
    width: 100%;
    padding: 7px 0;
    resize: vertical;
    color: white;
    font-size: 15px;
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.textarea:focus + .label {
    transform: translateY(-15px);
    font-size: 12px;
}

.textarea:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}

.btn1 {
    text-transform: uppercase;
    min-width: 200px;
    height: 50px;
    padding: 0px 15px;
    color:#3d251cdb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    background-color:white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;

}

.btn1:hover {
    background-color:#a3877d;
}

/* contacts end */


/* footer start */

.footer {

}

.footer__wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    color: #3D251C;
    font-size: 18;
    font-weight: 500;
}

.copyright:hover {
    text-decoration: none;
}

.footer__soc {
    display: flex;
}

.footer__soc-link {
    margin-right: 20px;
    text-decoration: none;
}

.footer__soc-link:last-child {
    margin-right: 0;
}



/* footer end */